#dashboard.container
  - if proposals.all.count.zero?
    %h3 No proposals received yet
  - else
    %h3= "#{proposals.all.count} proposals received"

    #proposals
      %nav.nav.nav-tabs.nav-fill
        %a#all.nav-item.nav-link.active{href: '#'} All
        - proposals.types.each do |type|
          - id = type.split.map(&:downcase).join('_')
          %a.nav-item.nav-link{href: '#', id: "#{id}"}= type
      %table.table
        %thead
          %th{scope: 'col'} actions
          %th{scope: 'col'} name
          %th{scope: 'col'} title
          %th{scope: 'col'} type
          %th{scope: 'col'} location
        %tbody
          - proposals.sorted_by_votes.each do |proposal|
            %tr.primary{scope: 'row', data: {type: "#{proposal.type}", id: "#{proposal.uuid}"}}
              %td.actions
                .row
                  .col-3.doots
                    .action.upvote.far.fa-arrow-alt-circle-up.p-1{onclick: "upvote(this)", title: 'I like it!', class: proposal.doots[@current_user] == 1 ? 'upvoted' : ''}
                    .action.downvote.far.fa-arrow-alt-circle-down.p-1{onclick: "downvote(this)", title: 'meh..', class: proposal.doots[@current_user] == -1 ? 'downvoted' : ''}
                  .col-9.doot-count.align-self-center= proposal.doots.values.sum
              %td= proposal.name
              %td= proposal.title
              %td= proposal.type
              %td= proposal.location
            %tr.details-wrap.hidden{ data: { id: "#{proposal.uuid}"}}
              %td.details{colspan: '5'}
                .abstract-wrap
                  %img.avatar{src: proposal.avatar_url}
                  .abstract
                    = proposal.abstract
                    .additional-information
                      - proposal.additional_information.each do |key, value|
                        %div= "#{key.upcase}: #{value}"

                .email= proposal.email
                .speaking-experience{class: "text-#{proposal.experience_description_class}"}
                  = proposal.experience_description

                - proposal.checkboxes.each do |key, _|
                  // TODO: translate checkbox keys
                  .text-success= "Wants to #{key}"
